altair==4.2.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4==4.12.0
bleach==6.0.0
blinker==1.6
blis==0.7.9
Brotli @ file:///D:/bld/brotli-split_1687884251065/work
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
confection==0.0.4
contourpy @ file:///C:/ci_311/contourpy_1676431756017/work
crispy-bootstrap5==0.7
cryptography==40.0.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
django-allauth==0.54.0
django-bootstrap4==23.1
django-crispy-forms==2.0
django-debug-toolbar==4.0.0
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.10.7
fonttools==4.25.0
fqdn==1.5.1
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
importlib-metadata==6.1.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1691408075105/work
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
munkres==1.1.4
mysql-connector-python==8.0.32
nbclassic==0.5.4
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
nltk @ file:///C:/b/abs_a638z6l1z0/croot/nltk_1688114186909/work
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.3.20
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs==3.2.0
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1692203243786/work/packages/python/plotly/dist/plotly-5.16.1.tar.gz
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
preshed==3.0.8
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyarrow==11.0.0
pycparser==2.21
pydeck==0.8.0
Pygments==2.14.0
PyJWT==2.6.0
Pympler==1.0.1
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/ci_311/pyqt-split_1676428895938/work/pyqt_sip
pyrsistent==0.19.3
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
python-json-logger==2.0.7
python3-openid==3.2.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pywinpty==2.0.10
PyYAML @ file:///D:/bld/pyyaml_1692737337170/work
pyzmq==25.0.2
qtconsole==5.4.1
QtPy==2.3.1
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
regex @ file:///C:/ci_311_rebuilds/regex_1679006156792/work
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.3
rpds-py @ file:///D:/bld/rpds-py_1693237136327/work
scikit-learn @ file:///D:/bld/scikit-learn_1688116614890/work
scipy==1.11.2
seaborn==0.12.2
semver==3.0.0
sip @ file:///C:/ci_311/sip_1676427825172/work
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
spacy==3.5.0
spyder-kernels==2.4.3
srsly==2.4.6
stack-data==0.6.2
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1692982638840/work
tenacity @ file:///C:/b/abs_ddkoa9nju6/croot/tenacity_1682972298929/work
terminado==0.17.1
thinc==8.1.9
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers.git@b29fd6971d9cd6ba2a824628effe243f543b8f61
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uri-template==1.2.0
urllib3==1.26.15
validators==0.20.0
virtualenv==20.21.0
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
websocket-client==1.5.1
widgetsnbextension==4.0.7
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zipp==3.15.0
